@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --border-radius: 0.5rem;
  font-family: "Inter", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  margin: 0;

  color: var(--black);
  background-color: var(--white);
  color-scheme: light;

  
  word-break: break-word;
  text-overflow: ellipsis;
  
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

